body {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 300 !important;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d !important;
  height: 500vh !important;
  overflow-x: hidden;
}

.box {
  background-color: peachpuff;
  width: 450px;
  height: 500px;
  margin-left: 450px;
  margin-right: 450px;
  z-index: 0;
}

.text-jumbo h1 {
  z-index: 1;
  mix-blend-mode: exclusion;
  max-width: 500px;
  color: white;
  position: absolute;
  font-size: 120px;
  white-space: nowrap;
}

.bacaan-satu {
  margin-left: 514px;
  margin-right: 514px;
  color: white;
}

a {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
}
