body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  height: 100vh;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.particle {
  width: 100%;
  position: fixed;
  z-index: -100;
}

body,
::-webkit-scrollbar,
.imgrev::before {
  background: #0d0d0d;
  /*#231f20;*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-moz-selection,
::selection,
::-webkit-selection {
  color: inherit;
  background: transparent;
}

@font-face {
  font-family: circular;
  src: url(fonts/CircularStd-Book.woff2);
}

@font-face {
  font-family: sequel;
  src: url(fonts/MonumentExtended-Bold.woff);
}

@font-face {
  font-family: circular_bold;
  src: url(fonts/CircularStd-Medium.woff2);
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.box {
  background-color: #5f95ff;
  position: relative;
  width: 450px;
  height: 500px;
  margin-top: 50px;
}
.box-project {
  width: 450px;
  height: 450px;
  z-index: 0;
}
.box-deskripsi {
  width: 450px;

  z-index: 0;
}

.luxy-el {
  z-index: -100 !important;
}

.text-jumbo h1 {
  max-width: 500px;
  color: white;
  position: absolute;
  font-size: 120px;
  white-space: nowrap;
}

.text-jumbow h1 {
  max-width: 500px;
  color: white;
  position: absolute;
  font-size: 120px;
  white-space: nowrap;
}

.text-jumbo2 h1 {
  color: white;
  font-size: 120px;
  width: 100%;
  position: relative;
  display: block;
}
.text-jumbo3 h1 {
  color: white;
  font-size: 160px;
  width: 100%;
  position: relative;
  display: block;
}

.outline {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
}

.-o {
  z-index: -1 !important;
}

h1 .row > span {
  line-height: 108%;
}

.span {
  color: white;
}

h1 {
  white-space: nowrap;
  font-size: 8.1vw;
  color: #ffffff;
  font-family: sequel, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: normal;
}

h1 .row {
  margin-bottom: -2.5vw;
  padding: 0 10px 0 3px;
  margin-left: -4px;
}

.bacaan-satu {
  top: 0;
  margin-top: 0;
  padding-top: 0;
  margin-left: 514px;
  margin-right: 514px;
  color: white;
}

.col-3 {
  width: 25% !important;
}

.img-jumbo {
  position: absolute;

  left: 0;
  right: 0;
  margin: 0 auto;
}
.img-jumbo-lagi {
  position: absolute;
  top: 700px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.img-jumbow {
  max-height: 450px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.2s;
}

.img-jumbow:hover {
  transform: scale(1.2);
}

a {
  color: white;
}

h5 {
  font-family: circular, sans-serif;
  color: white;
}

h4 {
  font-family: sequel, sans-serif;
  color: white;
}

h1,
h2,
h3,
h6 {
  font-family: sequel, sans-serif;
  font-weight: 900 !important;
  color: white;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) and (max-width: 1356px) {
  .abt {
    padding-top: 51vh;
    padding-bottom: 32vh;
  }
  .exp {
    margin: 32vh 0 18vh 37.5vw;
  }
  .sembunyi {
    display: none;
  }
}

@media only screen and (min-width: 1430px) {
  .abt h1 {
    line-height: 110%;
    font-size: 8.5vw;
  }
  .abt {
    padding-top: 50vh;
    padding-bottom: 22%;
  }
  img {
    width: 40vw;
  }
  .exp {
    margin: 25vh 0 15vh 37.5vw;
  }
  .sembunyi {
    display: none;
  }
}
